<nav
  [ngClass]="{ '-translate-y-full': isHidden, 'translate-y-0': !isHidden }"
  class="p-4 fixed top-0 w-full backdrop-filter backdrop-blur-lg bg-opacity-30 text-gray-100 h-24 indexx text-lg"
>
  <div
    class="flex justify-between md:justify-center items-center w-full px-2 md:px-0"
  >
    <ul class="items-stretch hidden space-x-3 md:flex">
      <li class="flex">
        <a
          rel="noopener noreferrer"
          routerLink=""
          class="flex items-center px-4 -mb-1 border-b-2 dark:dark:border-transparent"
        >
          Home
        </a>
      </li>
      <li class="flex">
        <a
          rel="noopener noreferrer"
          routerLink="services"
          class="flex items-center px-4 -mb-1 border-b-2 dark:dark:border-transparent"
        >
          Services
        </a>
      </li>
    </ul>
    <a
      rel="noopener noreferrer"
      routerLink=""
      aria-label="Back to homepage"
      class="flex items-center p-2"
    >
      <img
        src="../../assets/img/washing-machine-svgrepo-com.svg"
        class="mr-3 h-6 sm:h-9"
        alt="iLaundroidLogo"
      />
      <span
        class="self-center text-xl font-semibold whitespace-nowrap dark:text-white"
      >
        iLaundroid
      </span>
    </a>
    <ul class="items-stretch hidden space-x-3 md:flex">
      <li class="flex">
        <a
          rel="noopener noreferrer"
          routerLink="instructions"
          class="flex items-center px-4 -mb-1 border-b-2 dark:dark:border-transparent"
        >
          Instructions
        </a>
      </li>
      <li class="flex">
        <a
          rel="noopener noreferrer"
          routerLink="contact"
          class="flex items-center px-4 -mb-1 border-b-2 dark:dark:border-transparent"
        >
          Contact
        </a>
      </li>
    </ul>

    <div
      class="text-xs md:backdrop-blur-xl md:hidden flex flex-col px-2 py-2 mx-2 border-solid border border-zinc-400 rounded-md cursor-pointer"
      (click)="toggleMobileMenu()"
    >
      <fa-icon
        *ngIf="!isOpen"
        [icon]="faBars"
        size="lg"
        class="text-white"
      ></fa-icon>
      <fa-icon
        *ngIf="isOpen"
        [icon]="faTimes"
        size="lg"
        class="text-white"
      ></fa-icon>
    </div>
  </div>
  <div
    class="navbar-links-container flex flex-col mt-16 md:hidden absolute top-4 left-0 z-50 w-full items-center py-10 border-y border-solid bg-black"
    *ngIf="isOpen"
  >
    <a
      *ngFor="let link of navbarLinks"
      [href]="link.href"
      title="{{ link.label }}"
      class="navbar-link flex items-center"
      (click)="toggleMobileMenu()"
    >
      {{ link.label }}
    </a>
  </div>
</nav>
