<div
  class="w-full border-t border-gray-800 p-2 pt-8 pb-8 text-center bg-slate-900"
>
  <a
    href="mailto:ilaundroidmangalore@gmail.com"
    class="text-indigo-500 text-lg"
    style="cursor: pointer"
    >ilaundroidmangalore&#64;gmail.com</a
  >

  <p class="my-5 leading-normal text-lg text-indigo-500">
    St. Joseph Engineering College, Vamanjoor<br />Mangalore, Karnataka 575005, India
  </p>
  <span class="inline-flex">
    <a class="text-gray-300" (click)="gotoPage('facebook')">
      <svg
        fill="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="h-5 w-5"
        viewBox="0 0 24 24"
      >
        <path
          d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"
        ></path>
      </svg>
    </a>
    <a class="ml-4 text-gray-300" (click)="gotoPage('instagram')">
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="h-5 w-5"
        viewBox="0 0 24 24"
      >
        <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
        <path
          d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"
        ></path>
      </svg>
    </a>
    <a class="ml-4 text-gray-500" (click)="gotoPage('twitter')">
      <svg
        class="h-5 w-4"
        viewBox="0 0 1200 1227"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z"
          fill="white"
        />
      </svg>
    </a>
  </span>
</div>
