<!-- component -->
<div class="bg-slate-900 flex items-center justify-center h-screen">
  <div class="bg-slate-950 p-8 rounded-lg shadow-lg max-w-sm w-full">
    <div class="flex justify-center mb-6">
      <span class="inline-block bg-gray-200 rounded-full p-3">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"
          />
        </svg>
      </span>
    </div>
    <h2 class="text-2xl font-semibold text-center text-stone-200 mb-4">
      Welcome back!
    </h2>
    <p class="text-gray-300 text-center mb-6">Enter your details to login.</p>
    <form action="#" method="post">
      <div class="mb-4">
        <label
          for="fullName"
          class="block text-gray-300 text-sm font-semibold mb-2"
          >Username *</label
        >
        <input
          type="text"
          id="fullName"
          class="form-input w-full px-4 py-2 border rounded-lg text-slate-900 focus:ring-blue-500"
          required
          placeholder="Enter your name"
        />
      </div>
      <div class="mb-6">
        <label
          for="password"
          class="block text-gray-300 text-sm font-semibold mb-2"
          >Password *</label
        >
        <input
          type="password"
          id="password"
          class="form-input w-full px-4 py-2 border rounded-lg text-gray-700 focus:ring-blue-500"
          required
          placeholder="••••••••"
        />
        <p class="text-gray-500 text-xs mt-1">
          Must contain 1 uppercase letter, 1 number,1 special character, min. 8
          characters.
        </p>
      </div>
      <div class="flex justify-between items-center py-2">
        <div>
          <a href="" class="text-blue-500 text-sm"> Forgot password? </a>
        </div>
        <div class="text-right">
          <span class="text-gray-300 text-sm">New User?</span>
          <a
            routerLink="/signup"
            class="hover:underline text-blue-500 text-sm ml-1"
            >SignUp</a
          >
        </div>
      </div>

      <button
        type="submit"
        class="font-bold w-full bg-sky-300 text-black px-4 py-2 rounded-lg hover:bg-sky-400"
      >
        Login
      </button>
      <p class="text-gray-300 text-xs text-center mt-4">
        By clicking Register, you agree to accept iLaundroid's
        <a routerLink="/dashboard" class="text-blue-500 hover:underline"
          >Terms and Conditions</a
        >
      </p>
    </form>
  </div>
</div>
