<div class="sm:flex items-center text-gray-100 bg-slate-900 w-full h-fit">
  <div class="sm:w-1/2 pl-24">
    <div class="text">
      <span class="text-gray-500 ml-4 border-b-2 border-indigo-500 uppercase pl-4">
        About us
      </span>
      <h2 class="my-4 font-bold text-3xl sm:text-4xl pl-4">
        About <span class="text-indigo-500"> Our Company </span>
      </h2>
      <p class="text-gray-100 text-lg pl-8">
        iLaundroid is the another name for premium laundry and dry cleaning.
        Automated machines are one of the highlights of this outlet.
      </p>
      <!-- component -->
  <div class="pl-20">
    <div class="relative max-w-sm">
      <p class="mt-6 border-l-4 border-dotted px-4 text-lg">
        <b>
          Premium Laundry and Dry Cleaning:
        </b> 
        iLaundroid is synonymous with top-tier laundry and dry cleaning services.
      </p>
      <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
    </div>
    <div class="relative max-w-sm">
      <p class="mt-6 border-l-4 border-dotted px-4 text-lg">
        <b>
          Automated Machines:
        </b> 
        Our outlet boasts state-of-the-art automated machines, ensuring efficiency and precision.
      </p>
      <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
    </div>
    <div class="relative max-w-sm">
      <p class="mt-6 border-l-4 border-dotted px-4 text-lg">
        <b>
          Expert Team: 
        </b>
        Our establishment is staffed with a team of professionals who excel in laundry and linen services.
      </p>
      <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
    </div>
    <div class="relative max-w-sm">
      <p class="mt-6 border-l-4 border-dotted px-4 text-lg">
      <b>
        Wide Service Range: 
      </b>  
      We cater to various sectors, including hotels, hospitals, and hostels.
      </p>
      <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
    </div>
    <div class="relative max-w-sm">
      <p class="mt-6 border-l-4 border-dotted px-4 text-lg">
        <b>
          Convenient Pick-up and Delivery: 
        </b>
        Enjoy the convenience of free pick-up and delivery services across the city.
      </p>
      <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
    </div>
    <div class="relative max-w-sm">
      <p class="mt-6 border-l-4 border-dotted px-4 text-lg">
        <b>
           Eco-Friendly Practices:
        </b>
        We prioritize high-quality fabric care and use eco-friendly products.
      </p>
      <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
    </div>
    <div class="relative max-w-sm">
      <p class="mt-6 border-l-4 border-dotted px-4 text-lg">
        <b>
          Prompt Notifications: 
        </b>
        Stay informed with prompt notifications via SMS and email.
      </p>
      <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
    </div>
    <div class="relative max-w-sm">
      <p class="mt-6 border-l-4 border-dotted px-4 text-lg">
        <b>
          Exclusive Features:
        </b>
        Benefit from the best chemicals, signature laundry bags, competitive pricing, and excellent customer service.
      </p>
      <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
    </div>
    <div class="relative max-w-sm">
      <p class="mt-6 border-l-4 border-dotted px-4 text-lg">
        <b>
          Flexible Hours and Payment Options: 
        </b>
        We're open from 8 am to 8 pm, seven days a week, with various flexible payment options available.
      </p>
      <div class="absolute top-0 -ml-1.5 h-4 w-4 rounded-full bg-blue-600"></div>
    </div>
  </div>
    </div>
  </div>
  
  <div class="sm:w-1/2 p-24">
    <div class="image object-center text-center">
      <img src="https://i.imgur.com/WbQnbas.png" />
    </div>
  </div>
</div>
<div class="flex justify-center bg-slate-900 pb-10">
  <button
    (click)="gotoPage('services')"
    class="border border-indigo-500 text-indigo-500 block rounded-sm font-bold py-4 px-6 mr-2 flex items-center hover:bg-indigo-500 hover:text-white"
  >
    Get  Started
  </button>
  <button
    (click)="gotoPage('contact')"
    class="border border-indigo-500 bg-indigo-500 text-white block rounded-sm font-bold py-4 px-6 ml-2 flex items-center hover:border-indigo-500 hover:text-indigo-500 hover:bg-slate-900"
  >
    Contact
    <svg
      class="h-5 w-5 ml-2 fill-current"
      clasversion="1.1"
      id="Layer_1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="-49 141 512 512"
      style="enable-background: new -49 141 512 512"
      xml:space="preserve"
    >
      <path
        id="XMLID_11_"
        d="M-24,422h401.645l-72.822,72.822c-9.763,9.763-9.763,25.592,0,35.355c9.763,9.764,25.593,9.762,35.355,0
            l115.5-115.5C460.366,409.989,463,403.63,463,397s-2.634-12.989-7.322-17.678l-115.5-115.5c-9.763-9.762-25.593-9.763-35.355,0
            c-9.763,9.763-9.763,25.592,0,35.355l72.822,72.822H-24c-13.808,0-25,11.193-25,25S-37.808,422-24,422z"
      />
    </svg>
  </button>
</div>
