<!-- component -->
<div
  class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-stone-950 py-6 sm:py-12"
>
  <div class="w-full items-center mx-auto max-w-screen-lg">
    <div class="group grid w-full grid-cols-2">
      <div
        class="pl-16 relative flex items-end flex-col before:block before:absolute before:h-1/6 before:w-4 before:bg-sky-300 before:bottom-0 before:left-0 before:rounded-lg before:transition-all group-hover:before:bg-sky-600 overflow-hidden"
      >
        <div
          class="absolute top-0 left-0 bg-sky-300 w-4/6 px-12 py-14 flex flex-col justify-center rounded-xl group-hover:bg-sky-600 transition-all"
        >
          <span class="block mb-10 font-bold group-hover:text-amber-100"
            >HERE WE ARE</span
          >
          <h2 class="text-slate-600 font-bold text-3xl group-hover:text-black">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
            voluptas
          </h2>
        </div>
        <a class="font-bold text-sm flex mt-2 mb-8 items-center gap-2" href="">
          <span class="text-sky-300">MORE ABOUT US</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6 text-sky-300"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
            />
          </svg>
        </a>
        <div class="rounded-xl overflow-hidden">
          <img
            src="https://th.bing.com/th/id/OIP.b1QQK7W86ZeBRDT6JwpDBQHaFq?rs=1&pid=ImgDetMain"
            alt=""
          />
        </div>
      </div>
      <div>
        <div class="pl-12">
          <p class="peer mb-6 text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id tenetur
            odit eaque aliquid quis non facere dicta ab esse, inventore
            blanditiis quidem soluta officiis cumque quo est repellendus? Ex,
            nobis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Id
            tenetur odit eaque aliquid quis non facere dicta ab esse, inventore
            blanditiis quidem soluta officiis cumque quo est repellendus? Ex,
            nobis!
          </p>
          <p class="mb-6 text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id tenetur
            odit eaque aliquid quis non facere dicta ab esse, inventore
            blanditiis quidem soluta officiis cumque quo est repellendus? Ex,
            nobis!
          </p>
          <h3 class="mb-4 font-semibold text-xl text-gray-400">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </h3>
          <ul
            role="list"
            class="marker:text-sky-400 list-disc pl-5 space-y-3 text-slate-500"
          >
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Lorem ipsum dolor sit amet</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
