<section class="py-40 dark:dark:bg-slate-900 dark:dark:text-gray-100">
  <div
    class="grid max-w-6xl grid-cols-1 px-6 mx-auto lg:px-8 md:grid-cols-2 md:divide-x"
  >
    <div class="py-6 md:py-0 md:px-6">
      <h1 class="text-4xl font-bold">Get in touch</h1>
      <p class="pt-2 pb-4">Fill in the form to start a conversation</p>
      <div class="space-y-4">
        <p class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 mr-2 sm:mr-6"
          >
            <path
              fill-rule="evenodd"
              d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
              clip-rule="evenodd"
            ></path>
          </svg>
          <span
            >St. Joseph Engineering College Vamanjoor, Mangalore, Karnataka
            575028, India</span
          >
        </p>
        <p class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 mr-2 sm:mr-6"
          >
            <path
              d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
            ></path>
          </svg>
          <span>73385 84123</span>
        </p>
        <p class="flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-5 h-5 mr-2 sm:mr-6"
          >
            <path
              d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
            ></path>
            <path
              d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
            ></path>
          </svg>
          <span>ilaundroidmangalore&#64;gmail.com</span>
        </p>
      </div>
      <iframe
        class="p-8"
        width="100%"
        height="70%"
        frameborder="2"
        marginheight="2"
        marginwidth="2"
        title="map"
        scrolling="no"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.952036137888!2d74.89610237494387!3d12.910804316208594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba359dfac132663%3A0xa7bf228838232d32!2sSt%20Joseph%20Engineering%20College!5e0!3m2!1sen!2sin!4v1709152837376!5m2!1sen!2sin"
      ></iframe>
    </div>
    <form
      #userPost="ngForm"
      (ngSubmit)="submitData(userPost.value)"
      class="flex flex-col py-32 py-6 space-y-6 md:py-0 md:px-6"
    >
      <label class="block">
        <span class="mb-1">Full name</span>
        <input
          name="name"
          type="text"
          placeholder="Jenkins Jenkins"
          class="block w-full h-12 rounded-md shadow-sm focus:ring focus:ri focus:ri dark:dark:bg-gray-800"
          ngModel
        />
      </label>
      <label class="block">
        <span class="mb-1">Email address</span>
        <input
          name="email"
          type="email"
          placeholder="jenkins@jenkins.com"
          class="block w-full h-12 rounded-md shadow-sm focus:ring focus:ri focus:ri dark:dark:bg-gray-800"
          ngModel
        />
      </label>
      <label class="block">
        <span class="mb-1">Phone Number</span>
        <input
          name="phone"
          type="number"
          placeholder="9876543210"
          class="block w-full h-12 rounded-md shadow-sm focus:ring focus:ri focus:ri dark:dark:bg-gray-800"
          ngModel
        />
      </label>
      <label class="block">
        <span class="mb-1">Message</span>
        <textarea
          name="message"
          rows="6"
          class="block w-full rounded-md focus:ring focus:ri focus:ri dark:dark:bg-gray-800"
          ngModel
        >
        </textarea>
      </label>
      <button
        class="border border-indigo-500 bg-indigo-500 justify-center text-white block rounded-sm font-bold py-4 px-6 ml-2 flex items-center hover:border-indigo-500 hover:text-indigo-500 hover:bg-slate-900 w-auto"
      >
        Submit
      </button>
    </form>
  </div>
</section>
