<!-- component -->
<!-- This is an example component -->
<link href="https://unpkg.com/pattern.css" rel="stylesheet" />

<div>
  <section class="text-gray-200 bg-slate-900">
    <div class="max-w-6xl mx-auto px-5 py-24">
      <div class="text-center mb-20">
        <h1
          class="title-font mb-4 text-4xl font-extrabold leading-10 tracking-tight sm:text-5xl sm:leading-none md:text-6xl"
        >
          Services
        </h1>
        <p class="text-lg leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
          Revitalize your wardrobe with our expert laundry services. From stains
          to sparkle, we've got you covered, so you can focus on what matters
          most.
        </p>
        <div class="flex mt-6 justify-center">
          <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
        </div>
      </div>

      <!-- component -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <div
          class="bg-slate-900 rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105"
        >
          <div class="p-1 bg-green-200"></div>
          <div class="p-8">
            <h2 class="text-3xl font-bold text-gray-100 mb-4">Premium Wash</h2>
            <p class="text-gray-300 mb-6">
              The clothes will be packed in a pr...
            </p>
            <p class="text-4xl font-bold text-gray-300 mb-6">₹120.00</p>
            <ul class="text-sm text-gray-400 mb-6">
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-green-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature1
              </li>
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-green-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature2
              </li>
              <li class="flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-green-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature3
              </li>
            </ul>
          </div>
          <div class="p-4">
            <button
              (click)="gotoPage('contact')"
              class="w-full bg-green-200 text-black hover:text-white rounded-full px-4 py-2 hover:bg-green-700 focus:outline-none focus:shadow-outline-green active:bg-green-800"
            >
              Contact
            </button>
          </div>
        </div>

        <div
          class="bg-slate-900 rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105"
        >
          <div class="p-1 bg-sky-300"></div>
          <div class="p-8">
            <h2 class="text-3xl font-bold text-gray-100 mb-4">Dry Clean</h2>
            <p class="text-gray-300 mb-6">
              Dry clean clothes will be charged...
            </p>
            <p class="text-4xl font-bold text-gray-300 mb-6">₹90.00</p>
            <ul class="text-sm text-gray-400 mb-6">
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-sky-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature1
              </li>
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-sky-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature2
              </li>
              <li class="flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-sky-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature3
              </li>
            </ul>
          </div>
          <div class="p-4">
            <button
              (click)="gotoPage('contact')"
              class="w-full bg-sky-300 text-black hover:text-white rounded-full px-4 py-2 hover:bg-sky-700 focus:outline-none focus:shadow-outline-green active:bg-green-800"
            >
              Contact
            </button>
          </div>
        </div>

        <div
          class="bg-slate-900 rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105"
        >
          <div class="p-1 bg-rose-400"></div>
          <div class="p-8">
            <h2 class="text-3xl font-bold text-gray-100 mb-4">Regular Wash</h2>
            <p class="text-gray-300 mb-6">Per KG pricing</p>
            <p class="text-4xl font-bold text-gray-300 mb-6">₹80.00</p>
            <ul class="text-sm text-gray-400 mb-6">
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-rose-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature1
              </li>
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-rose-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature2
              </li>
              <li class="flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-rose-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature3
              </li>
            </ul>
          </div>
          <div class="p-4">
            <button
              (click)="gotoPage('contact')"
              class="w-full bg-rose-400 text-black hover:text-white rounded-full px-4 py-2 hover:bg-rose-800 focus:outline-none focus:shadow-outline-green active:bg-green-800"
            >
              Contact
            </button>
          </div>
        </div>

        <div
          class="bg-slate-900 rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105"
        >
          <div class="p-1 bg-fuchsia-300"></div>
          <div class="p-8">
            <h2 class="text-3xl font-bold text-gray-100 mb-4">
              Express Laundry
            </h2>
            <p class="text-gray-300 mb-6">
              Service is on Priority where your ...
            </p>
            <p class="text-4xl font-bold text-gray-300 mb-6">₹40.00</p>
            <ul class="text-sm text-gray-400 mb-6">
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-fuchsia-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature1
              </li>
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-fuchsia-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature2
              </li>
              <li class="flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-fuchsia-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature3
              </li>
            </ul>
          </div>
          <div class="p-4">
            <button
              (click)="gotoPage('contact')"
              class="w-full bg-fuchsia-300 text-black hover:text-white rounded-full px-4 py-2 hover:bg-fuchsia-800 focus:outline-none focus:shadow-outline-green active:bg-green-800"
            >
              Contact
            </button>
          </div>
        </div>

        <div
          class="bg-slate-900 rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105"
        >
          <div class="p-1 bg-orange-400"></div>
          <div class="p-8">
            <h2 class="text-3xl font-bold text-gray-100 mb-4">Premium Iron</h2>
            <p class="text-gray-300 mb-6">Clothes will be packed in a ...</p>
            <p class="text-4xl font-bold text-gray-300 mb-6">₹25.00</p>
            <ul class="text-sm text-gray-400 mb-6">
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-orange-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature1
              </li>
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-orange-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature2
              </li>
              <li class="flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-rose-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature3
              </li>
            </ul>
          </div>
          <div class="p-4">
            <button
              (click)="gotoPage('contact')"
              class="w-full bg-orange-400 text-black hover:text-white rounded-full px-4 py-2 hover:bg-orange-700 focus:outline-none focus:shadow-outline-green active:bg-green-800"
            >
              Contact
            </button>
          </div>
        </div>

        <div
          class="bg-slate-900 rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105"
        >
          <div class="p-1 bg-amber-400"></div>
          <div class="p-8">
            <h2 class="text-3xl font-bold text-gray-100 mb-4">
              Regular Steam Iron
            </h2>
            <p class="text-gray-300 mb-6">Per Piece</p>
            <p class="text-4xl font-bold text-gray-300 mb-6">₹10.00</p>
            <ul class="text-sm text-gray-400 mb-6">
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-amber-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature1
              </li>
              <li class="mb-2 flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-amber-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature2
              </li>
              <li class="flex items-center">
                <svg
                  class="w-4 h-4 mr-2 text-amber-500"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 13l4 4L19 7"
                  ></path>
                </svg>
                Feature3
              </li>
            </ul>
          </div>
          <div class="p-4">
            <button
              (click)="gotoPage('contact')"
              class="w-full bg-amber-400 text-black hover:text-white rounded-full px-4 py-2 hover:bg-amber-700 focus:outline-none focus:shadow-outline-green active:bg-green-800"
            >
              Contact
            </button>
          </div>
        </div>
      </div>

      <div class="flex justify-center pt-16">
        <br />
        <br />
        <button
          (click)="gotoPage('')"
          class="border border-indigo-500 text-indigo-500 block rounded-sm font-bold py-4 px-6 mr-2 flex items-center hover:bg-indigo-500 hover:text-white"
        >
          <svg
            class="h-5 w-5 mr-2 fill-current"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="-49 141 512 512"
            style="enable-background: new -49 141 512 512"
            xml:space="preserve"
          >
            <path
              id="XMLID_10_"
              d="M438,372H36.355l72.822-72.822c9.763-9.763,9.763-25.592,0-35.355c-9.763-9.764-25.593-9.762-35.355,0 l-115.5,115.5C-46.366,384.01-49,390.369-49,397s2.634,12.989,7.322,17.678l115.5,115.5c9.763,9.762,25.593,9.763,35.355,0 c9.763-9.763,9.763-25.592,0-35.355L36.355,422H438c13.808,0,25-11.193,25-25S451.808,372,438,372z"
            ></path>
          </svg>
          Home
        </button>
        <button
          (click)="gotoPage('contact')"
          class="border border-indigo-500 bg-indigo-500 text-white block rounded-sm font-bold py-4 px-6 ml-2 flex items-center hover:border-indigo-500 hover:text-indigo-500 hover:bg-slate-900"
        >
          Contact
          <svg
            class="h-5 w-5 ml-2 fill-current"
            clasversion="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="-49 141 512 512"
            style="enable-background: new -49 141 512 512"
            xml:space="preserve"
          >
            <path
              id="XMLID_11_"
              d="M-24,422h401.645l-72.822,72.822c-9.763,9.763-9.763,25.592,0,35.355c9.763,9.764,25.593,9.762,35.355,0
            l115.5-115.5C460.366,409.989,463,403.63,463,397s-2.634-12.989-7.322-17.678l-115.5-115.5c-9.763-9.762-25.593-9.763-35.355,0
            c-9.763,9.763-9.763,25.592,0,35.355l72.822,72.822H-24c-13.808,0-25,11.193-25,25S-37.808,422-24,422z"
            />
          </svg>
        </button>
      </div>
    </div>
  </section>
</div>
