<!-- component -->
<!-- This is an example component -->
<link href="https://unpkg.com/pattern.css" rel="stylesheet" />

<div>
  <section class="text-gray-200 bg-slate-900">
    <div class="max-w-6xl mx-auto px-5 py-24">
      <div class="text-center mb-20">
        <h1
          class="title-font mb-4 text-4xl font-extrabold leading-10 tracking-tight sm:text-5xl sm:leading-none md:text-6xl"
        >
          Services
        </h1>
        <p class="text-base leading-relaxed xl:w-2/4 lg:w-3/4 mx-auto">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
          pariatur labore rerum vel, accusantium cum? Nihil animi, molestiae,
          accusantium labore, eius pariatur voluptates ex voluptate praesentium
          doloremque neque veniam error.
        </p>
        <div class="flex mt-6 justify-center">
          <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
        </div>
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4">
        <div class="p-10 md:w-1/3 md:mb-0 mb-6 flex flex-col">
          <div class="pattern-dots-md gray-light">
            <div
              class="rounded bg-slate-950 p-4 transform translate-x-6 -translate-y-6"
            >
              <div
                class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-green-100 text-green-500 mb-5 flex-shrink-0 p-2"
              >
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"
                  ></path>
                </svg>
              </div>
              <div class="flex-grow">
                <h2 class="text-xl title-font font-medium mb-3">
                  Lorem ipsum dolor sit
                </h2>
                <p class="leading-relaxed text-sm text-justify">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                  pariatur labore rerum vel, accusantium cum? Nihil animi,
                  molestiae, accusantium labore, eius pariatur voluptates ex
                  voluptate praesentium doloremque neque veniam error.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="p-10 md:w-1/3 md:mb-0 mb-6 flex flex-col">
          <div class="pattern-dots-md gray-light">
            <div
              class="rounded bg-slate-950 p-4 transform translate-x-6 -translate-y-6"
            >
              <div
                class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-blue-100 text-blue-500 mb-5 flex-shrink-0"
              >
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4"
                  ></path>
                </svg>
              </div>
              <div class="flex-grow">
                <h2 class="text-xl title-font font-medium mb-3">
                  Lorem ipsum dolor sit
                </h2>
                <p class="leading-relaxed text-sm text-justify">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                  pariatur labore rerum vel, accusantium cum? Nihil animi,
                  molestiae, accusantium labore, eius pariatur voluptates ex
                  voluptate praesentium doloremque neque veniam error.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="p-10 md:w-1/3 md:mb-0 mb-6 flex flex-col">
          <div class="pattern-dots-md gray-light">
            <div
              class="rounded bg-slate-950 p-4 transform translate-x-6 -translate-y-6"
            >
              <div
                class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-yellow-100 text-yellow-500 mb-5 flex-shrink-0"
              >
                <svg
                  class="w-6 h-6"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 7v10c0 2.21 3.582 4 8 4s8-1.79 8-4V7M4 7c0 2.21 3.582 4 8 4s8-1.79 8-4M4 7c0-2.21 3.582-4 8-4s8 1.79 8 4m0 5c0 2.21-3.582 4-8 4s-8-1.79-8-4"
                  ></path>
                </svg>
              </div>
              <div class="flex-grow">
                <h2 class="text-xl title-font font-medium mb-3">
                  Lorem ipsum dolor sit
                </h2>
                <p class="leading-relaxed text-sm text-justify">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
                  pariatur labore rerum vel, accusantium cum? Nihil animi,
                  molestiae, accusantium labore, eius pariatur voluptates ex
                  voluptate praesentium doloremque neque veniam error.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center">
        <br />
        <br />
        <a routerLink="">
          <button
          class="border border-indigo-500 text-indigo-500 block rounded-sm font-bold py-4 px-6 mr-2 flex items-center hover:bg-indigo-500 hover:text-white"
        >
          <svg
            class="h-5 w-5 mr-2 fill-current"
            version="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="-49 141 512 512"
            style="enable-background: new -49 141 512 512"
            xml:space="preserve"
          >
            <path
              id="XMLID_10_"
              d="M438,372H36.355l72.822-72.822c9.763-9.763,9.763-25.592,0-35.355c-9.763-9.764-25.593-9.762-35.355,0 l-115.5,115.5C-46.366,384.01-49,390.369-49,397s2.634,12.989,7.322,17.678l115.5,115.5c9.763,9.762,25.593,9.763,35.355,0 c9.763-9.763,9.763-25.592,0-35.355L36.355,422H438c13.808,0,25-11.193,25-25S451.808,372,438,372z"
            ></path>
          </svg>
          Home
        </button>
        </a>
        <a routerLink="contact" >
          <button
          class="border border-indigo-500 bg-indigo-500 text-white block rounded-sm font-bold py-4 px-6 ml-2 flex items-center hover:border-indigo-500 hover:text-indigo-500 hover:bg-slate-900"
        >
          Contact
          <svg
            class="h-5 w-5 ml-2 fill-current"
            clasversion="1.1"
            id="Layer_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="-49 141 512 512"
            style="enable-background: new -49 141 512 512"
            xml:space="preserve"
          >
            <path
              id="XMLID_11_"
              d="M-24,422h401.645l-72.822,72.822c-9.763,9.763-9.763,25.592,0,35.355c9.763,9.764,25.593,9.762,35.355,0
            l115.5-115.5C460.366,409.989,463,403.63,463,397s-2.634-12.989-7.322-17.678l-115.5-115.5c-9.763-9.762-25.593-9.763-35.355,0
            c-9.763,9.763-9.763,25.592,0,35.355l72.822,72.822H-24c-13.808,0-25,11.193-25,25S-37.808,422-24,422z"
            />
          </svg>
        </button>
        </a>
      </div>
    </div>
  </section>
</div>
