<!-- component -->
<div class="bg-stone-950 flex justify-center items-center h-screen">
  <!-- Left: Image -->
  <div class="w-1/2 h-screen hidden lg:block">
    <img
      [src]="signupImage"
      alt="Placeholder Image"
      class="object-cover w-full h-full"
    />
  </div>
  <!-- Right: Login Form -->
  <div class="lg:p-36 md:p-52 sm:20 p-8 w-full lg:w-1/2">
    <h1 class="text-2xl font-bold mb-4 text-sky-300">Sign Up</h1>
    <form action="#" method="POST">
      <!-- Username Input -->
      <div class="mb-4">
        <label for="username" class="block text-sky-300">Name</label>
        <input
          type="text"
          id="username"
          name="username"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off"
        />
      </div>
      <!-- Email Input -->
      <div class="mb-4">
        <label for="username" class="block text-sky-300">E-mail</label>
        <input
          type="email"
          id="username"
          name="username"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off"
        />
      </div>
      <!-- Phone Input -->
      <div class="mb-4">
        <label for="username" class="block text-sky-300">Phone Number</label>
        <input
          type="number"
          id="username"
          name="username"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off"
        />
      </div>
      <!-- Password Input -->
      <div class="mb-4">
        <label for="password" class="block text-sky-300">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off"
        />
      </div>
      <!-- Confirm Password Input -->
      <div class="mb-4">
        <label for="password" class="block text-sky-300"
          >Confirm Password</label
        >
        <input
          type="password"
          id="password"
          name="password"
          class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-blue-500"
          autocomplete="off"
        />
      </div>

      <!-- Sign up Button -->
      <button
        type="submit"
        class="bg-sky-500 hover:bg-sky-600 text-black font-semibold rounded-md py-2 px-4 w-full"
      >
        Sign Up
      </button>
    </form>
    <!-- Sign up  Link -->
    <div class="mt-6 text-sky-300 text-center">
      <a routerLink="/login" class="hover:underline"
        >Already have an account? Login</a
      >
    </div>
  </div>
</div>
