<!-- component -->
<!-- This is an example component -->
<link href="https://unpkg.com/pattern.css" rel="stylesheet" />

<div>
  <section class="text-gray-200 bg-slate-900">
    <div class="max-w-6xl mx-auto px-5 py-24">
      <div class="text-center mb-20">
        <h1
          class="title-font mb-4 text-4xl font-extrabold leading-10 tracking-tight sm:text-5xl sm:leading-none md:text-6xl"
        >
          Instructions
        </h1>
        <div class="flex mt-6 justify-center">
          <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
        </div>
      </div>

      <!-- component general information-->
      <div
        class="bg-slate-800 rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105"
      >
        <div class="p-1 bg-rose-400"></div>
        <div class="p-8">
          <h2 class="text-3xl font-bold text-gray-100 mb-4">
            General Information
          </h2>
          <ul class="text-lg text-gray-300 mb-6 list-disc pl-4">
            <li class="mb-2">
              We reserve the right to refuse washing of any clothes.
            </li>
            <li class="mb-2">
              Anybody who does not hold valid membership of laundromat is not
              allowed or entertained within the laundromat.
            </li>
            <li class="mb-2">
              No brushing shall be done for handLerchief, socks, towels,
              undergarments or any other delicate clothes as they would get
              damaged.
            </li>
            <li class="mb-2">
              Do not try to air out your clothes at your premises after
              collection. This helps in avoiding moisture collection.
            </li>
            <li class="mb-2">
              If any clothes are not washed satisfactorily, then you may bring
              it back to the laundromat and have it washed in front of you at no
              extra cost.
            </li>
            <li class="mb-2">
              <b>TAT</b> shall be 48 hours depending upon load and constant
              supply of water and electricity.
            </li>
            <li class="mb-2">
              Laundry shall be closed on national holidays and important
              festivals and events.
            </li>
            <li class="mb-2">We <b>DO NOT DO DRY CLEANING</b>.</li>
            <li class="mb-2">
              <b>NO CARRY FORWARD OF UNUSED WASHES SHALL BE DONE</b>.
            </li>
            <li class="mb-2">
              Please ensure that you are in sync with validity period and
              recharge window time periods.
            </li>
          </ul>
        </div>
      </div>
      <!-- component imortant instructions -->
      <div class="h-8 rounded-full inline-flex"></div>
      <div
        class="bg-slate-800 rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105"
      >
        <div class="p-1 bg-fuchsia-300"></div>
        <div class="p-8">
          <h2 class="text-3xl font-bold text-gray-100 mb-4">
            Important Instructions
          </h2>
          <ul class="text-lg text-gray-300 mb-6 list-disc">
            <li class="mb-2">
              Your card is <b>NOT TRANSFERABLE</b>. Handing over your card to
              your friends will result in immediate confiscation and
              cancellation of your laundry membership. Your personal presence is
              mandatory during deposit/collection of clothes.
            </li>
            <li class="mb-2">
              Please try to bring a mix bag of small, medium and big clothes
              including undergarments.
            </li>
            <li class="mb-2">
              Please do always ensure that you weigh your load, get your card
              punched and sign the register each time you come to deposit
              clothes. Please sign outgoing register before collecting clothes
              back.
            </li>
            <li class="mb-2">
              Please do ensure that all your clothes including socks are turned
              right-side out before bringing your clothes for washing.
            </li>
            <li class="mb-2">
              Please do bring your clothes on the alloted day of the week as per
              the rooster. This will ensure smooth functioning.
            </li>
            <li class="mb-2">
              Please do ensure you take proper care of your card and bag and
              don't lose/damage either of them. A fine of Rs. 100/- each shall
              be charged for new card or bag.
            </li>
            <li class="mb-2">
              Please do immediately report loss of card at the laundromat and
              get your card number blocked.
            </li>
          </ul>
        </div>
      </div>

      <!-- component additional instructions -->
      <div class="h-8 rounded-full inline-flex"></div>
      <div
        class="bg-slate-800 rounded-lg overflow-hidden shadow-lg transition-transform transform hover:scale-105"
      >
        <div class="p-1 bg-orange-400"></div>
        <div class="p-8">
          <h2 class="text-3xl font-bold text-gray-100 mb-4">
            Additional Instructions
          </h2>
          <ul class="text-lg text-gray-300 mb-6 list-disc">
            <li class="mb-2">
              Please <b>DO NOT BRING COLOR-BLEEDING CLOTHES</b> for washing to
              the laundromat. This will result in your clothes getting spoilt
              for which laundry is not responsible. Do not gice clothes that
              require dry-cleaning only or hand-wash only.
            </li>
            <li class="mb-2">
              Please <b>DO NOT</b> bring more than 1 bedsheet, 2 towels, 4 jeans
              in a given load of around 6KG. This results in inferior wash
              quality and this must be avoided.
            </li>
            <li class="mb-2">
              Please <b>DO NOT</b> bring any other clothes when giving
              single-bed blankets. One blanket will be treated as one wash.
            </li>
            <li class="mb-2">
              Please <b>DO NOT</b> leave valuables in pockets of your clothes.
              We are not responsible for any valuables.
            </li>
            <li class="mb-2">
              Please <b>DO NOT</b> leave anything like chewing gum, gutka,
              chalk, tablets, ink, pen in your pockets; it may result in stained
              clothes.
            </li>
            <li class="mb-2">
              Please <b>DO NOT</b> pick up anybody else's bag or clothes within
              the laundry.
            </li>
            <li class="mb-2">
              Please <b>DO NOT</b> give woolen clothes along with normal
              clothes. Give it as a seperate load.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="flex justify-center pb-16">
      <br />
      <br />
      <button
        (click)="gotoPage('')"
        class="border border-indigo-500 text-indigo-500 block rounded-sm font-bold py-4 px-6 mr-2 flex items-center hover:bg-indigo-500 hover:text-white"
      >
        <svg
          class="h-5 w-5 mr-2 fill-current"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="-49 141 512 512"
          style="enable-background: new -49 141 512 512"
          xml:space="preserve"
        >
          <path
            id="XMLID_10_"
            d="M438,372H36.355l72.822-72.822c9.763-9.763,9.763-25.592,0-35.355c-9.763-9.764-25.593-9.762-35.355,0 l-115.5,115.5C-46.366,384.01-49,390.369-49,397s2.634,12.989,7.322,17.678l115.5,115.5c9.763,9.762,25.593,9.763,35.355,0 c9.763-9.763,9.763-25.592,0-35.355L36.355,422H438c13.808,0,25-11.193,25-25S451.808,372,438,372z"
          ></path>
        </svg>
        Home
      </button>
      <button
        (click)="gotoPage('contact')"
        class="border border-indigo-500 bg-indigo-500 text-white block rounded-sm font-bold py-4 px-6 ml-2 flex items-center hover:border-indigo-500 hover:text-indigo-500 hover:bg-slate-900"
      >
        Contact
        <svg
          class="h-5 w-5 ml-2 fill-current"
          clasversion="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="-49 141 512 512"
          style="enable-background: new -49 141 512 512"
          xml:space="preserve"
        >
          <path
            id="XMLID_11_"
            d="M-24,422h401.645l-72.822,72.822c-9.763,9.763-9.763,25.592,0,35.355c9.763,9.764,25.593,9.762,35.355,0
            l115.5-115.5C460.366,409.989,463,403.63,463,397s-2.634-12.989-7.322-17.678l-115.5-115.5c-9.763-9.762-25.593-9.763-35.355,0
            c-9.763,9.763-9.763,25.592,0,35.355l72.822,72.822H-24c-13.808,0-25,11.193-25,25S-37.808,422-24,422z"
          />
        </svg>
      </button>
    </div>
  </section>
</div>
